#root {
  padding: 0 1.5rem;
  padding-top: 1rem;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem;   */
}
/* .container {
  width: 100%;
}
main#content {
  width: 100% !important;
} */

